<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
<h2>[%= title %]</h2>
</body>
</html>