<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <h2>[%= title %]</h2>

    <script>
        window.whores = [%- whores %];
    </script>

    <script id="tpl-sluts" type="text/template">
        <h1>Наши девочки</h1>

        <div class="list">
            <!-- This area will be filled by JavaScript -->
        </div>
    </script>


    <script id="tpl-slut" type="text/template">
        <button type="button" class="delete"></button>
        <h2>{{name}}</h2>
        <a href="/sluts/{{id}}">Перейти к полному описанию</a>
    </script>


    <script id="tpl-slut-details" type="text/template">
        <h1>{{name}}</h1>
        <ul>
            <li>{{age}}</li>
            <li>{{boobs}}</li>
            <li>{{can_come}}</li>
            <li>{{height}}</li>
            <li>{{phone}}</li>
            <li>{{weight}}</li>
        </ul>
        <p>{{teaser}}<p>
        <p>Вернуться <a href="/sluts">к списку</a> девочек<p>
    </script>
</body>
</html>